* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  /* overflow: hidden; */
  width: 300px; /* Adjust the width as needed */
}

.carousel {
  display: flex;
  gap: 20px;
  animation: scroll 5s linear infinite; /* Adjust animation duration */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.carousel-item {
  flex: 0 0 300px; /* Adjust item width */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: lightgray;
}
